<div class="flex justify-center mb-2">
  <div class="flex justify-center bg-white shadow w-full max-w-xs">
    <%= button_to "/auth/google_oauth2", class:"flex justify-center", "data-turbo" => false do %>
      <%= inline_svg_tag "google.svg", class:"pt-3 w-10 h-10" %>
      <h1 class="block text-gray-700 text-sm font-bold mb-4 pt-4">Sign-In or Sign-Up with Google</h1>
    <% end %>
  </div> 
</div>


<div class="flex justify-center">
  <div class="w-full max-w-xs">
  <p style="color: green"><%= notice %></p>
  <p style="color: red"><%= alert %></p>
    <%= form_with(url: sign_in_path, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
      <div class="mb-4">
        <%= form.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.email_field :email, value: params[:email_hint], class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true, autofocus: true, placeholder: "email" %>
      </div>

      <div class="mb-6">
        <%= form.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.password_field :password, class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", required: true, placeholder: "password" %>
      </div>

      <div class="flex items-center justify-between">
        <%= form.submit "Sign in", class: "bg-orange-600 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to "Forgot your password?", new_identity_password_reset_path, class: "inline-block align-baseline font-bold text-sm text-orange-600 hover:text-orange-700" %>
      </div>
    <% end %>
    
  </div>
</div>


<p class="text-center text-gray-500 text-xs">
  &copy;2023 BIG Membership By Zipang.
</p>
